# Your LLM API Key
LLM_API_KEY="YOUR_API_KEY"
LLM_BASE_URL="YOUR_API_BASE_URL"
LLM_MODEL_ID="YOUR_MODEL_ID"

# Your SerpApi Key
SERPAPI_API_KEY="YOUR_SERP_API_KEY"

# Optional

# OpenAI
#OPENAI_API_KEY="YOUR_OPENAI_API_KEY"

# Anthropic
#ANTHROPIC_API_KEY="YOUR_ANTHROPIC_API_KEY"

# Cohere
#COHERE_API_KEY="YOUR_COHERE_API_KEY"

# OpenRouter
#OPENROUTER_API_KEY="YOUR_OPENROUTER_API_KEY"

# Claude
#CLAUDE_API_KEY="YOUR_CLAUDE_API_KEY"
